<%- include('parts/html-head') %> <%- include('parts/navbar') %>

<div class="container">

        <form method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>

                <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com" value="" aria-describedby="emailHelp">

                <div class="form-text"><%= typeof email !=='undefined' ? email: '' %> </div>
              </div>
              
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>

                <input type="password" class="form-control" id="exampleFormControlTextarea1" name="password" value=""></input>

                <div class="form-text"> <%= locals.password ? password : '' %> </div>
              </div>
              
              
              <button type="submit" class="btn btn-primary" >SUBMIT</button>
        </form>
        <pre><% JSON.stringify(locals,null,4) %></pre>

</div>

<%- include('parts/script')%><%- include('parts/html-foot') %>